*{
    font-family: 'Lato', sans-serif;
}

.logo-header{
    margin-top: 10px;
}

h1{
    font-size: 60px;
}

h3{
    font-family:sans-serif;
    color: darkgray;
}

 hr {
     margin: 8px auto;
     width: 97%;
     height: auto;
     clear: both;
     border: none;
     border-top: 5px solid #aaaaaa;
}