<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Portfolio</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/customstyle.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img class="logo-header img-responsive" src="img/Logo-Steve.jpg" alt="Logo"/>
                </div>
                <div class="col-md-10 text-right">
                    <h1> STEVE IVA CONSULTING</h1>
                    <h4> FREELANCING ENGINEER</h4>
                </div>
            </div>
            <div class="row">
                <hr>    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="img/Cafe.jpg" alt="Cafe"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Featured Work</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="img/Basil.jpg" alt="Basil"/>
                <h4 class="text-center"> This is the first project</h4>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/Light.jpg" alt="Light"/>
            <h4 class="text-center"> This is the second project</h4>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="http://via.placeholder.com/350x239" alt="Placeholder"/>
        <h4 class="text-center"> This is the third project</h4>
        </div>
    </div>

</div>
</body>
</html>