<table id="table_with_pagination" class="table table-striped">
    <thead class="thead-dark">
    <tr class="filters">
        <th>Status</th>
        <th>Url</th>
        <th>Statuscode</th>
        <th>TLD</th>
        <th>Inlink</th>
    </tr>
    </thead>
    <tbody id="table_body">
    {% for row in csvArray %}
    <tr>
        <td>{{ row.status }}</td>
        <td>{{ row.url }}</td>
        <td>{{ row.statuscode }}</td>
        <td>{{ row.tld }}</td>
        <td>{{ row.inLink }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>